/*.browsehappy {*/
  /*margin: 0.2em 0;*/
  /*background: #ccc;*/
  /*color: #000;*/
  /*padding: 0.2em 0;*/
/*}*/

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}

a:active {
  text-decoration: none;
}


.caret {
  color: #37bbec;
  margin-left: 10px;
  margin-right: 30px;
}

@font-face {
  font-family: Lato Regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato Black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato Light;
  src: url(../fonts/Lato-Light.ttf);
}

body {
  font-family: Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
  background-color: #ffffff;
  border-bottom: 1px #ecefef solid;
}

.main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
}





#submenu {
  background-color: #ffffff;
  border-bottom: 3px #ecefef solid;
  padding-bottom: 15px;
}


#submenuitems {
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-top: 10px;
}

.miniicons {
  float: right;
  margin-left: 10px;
}


#slidertext {
  float: left;
  width: 500px;
}

#sliderimg {
  float: right;
}

#carousel {
  padding-top: 55px;
}




.img {
  margin: 5px 5px 5px 5px;
}

.txt {
  margin: 25px;
}

#gray {
  padding-bottom: 50px;
}



#ajmo, #ajmoo {
  display: none;
}










/*ALT*/















#content {
  padding-top: 30px;
  padding-bottom: 50px;
}

#kitchen {
  padding-top: 30px;
  padding-bottom: 25px;
}

.boxes {
  margin-top: 20px;
}

.box {
 border: 5px solid cornflowerblue;
}

/*AGAIn*/




.money {
  color: #37bbec;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  padding-right: 6px;
}

.through {
  color: #c5c5c5;
  text-decoration: line-through;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dugme {
   width: 130px;
   height: 40px;
   font-size: 14px;
   line-height: 40px;
   color: #ffffff;
   font-weight: normal;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
   display: block;
   margin: 55px auto 0;
   background: #37bbec;
   border-radius: 18px;
   border: none;
   text-align: center;
   cursor: pointer;
   position: relative;
 }

.dugme2 {
  width: 130px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin: 10px auto 0;
  background: #fbcf00;
  border-radius: 18px;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btn-car {
  margin-top: 10px;
  width: 130px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  float: left;
  background: #37bbec;
  border-radius: 18px;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.img-place {
  width: 100%;
  background: #dcdcdc;
  position: relative;
  overflow: hidden;
}

.fttxt {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ftitem {
  border-right: 1px solid #efefef;
}

.ftimg1 {
 background: url("../images/ft1.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.ftimg2 {
  background: url("../images/ft2.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.ftimg3 {
  background: url("../images/ft3.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.ftimg4 {
  background: url("../images/ft4.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.arrow {
  padding-left: 7px;
}

footer h5 {
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 16px;
}

[type="checkbox"] {
  width: 15px;
  height: 15px;
  -webkit-appearance: none; /*<----this needs to be added here.*/
  background-image: url("../images/checkbox.png")
}
[type="checkbox"]:checked {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  background-image: url("../images/checkbox-c.png")
}

[type="radio"] {
  width: 15px;
  height: 15px;
  -webkit-appearance: none; /*<----this needs to be added here.*/
  background-image: url("../images/radio.png")
}
[type="radio"]:checked {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  background-image: url("../images/radio-c.png")
}

[type="checkbox"]:focus {outline:0 !important;}
[type="radio"]:focus {outline:0 !important;}







.headline {
  background: #ffffff;
  padding: 9px 0 6px 25px;
  border-bottom: 1px solid #efefef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.last {
  background: #ffffff;
  padding: 9px 0 6px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.last2 {
  background: #fafafa;
  padding: 9px 0 6px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.even {
  background: #fafafa;
  padding: 9px 0 6px 25px;
}

.odd {
  background: #ffffff;
  padding: 9px 0 6px 25px;
}


.categories input {
  position: absolute;
  right: 40px;
}



.purple {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #a637ec;
  margin-right: 10px;
}

.blue {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #37bbec;
  margin-right: 10px;
}

.green {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #8dc838;
  margin-right: 10px;
}

.yellow {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #fbcf00;
  margin-right: 10px;
}

.orange {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #fb5700;
  margin-right: 10px;
}

.red {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #fb0000;
  margin-right: 10px;
}

.gray {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #dfdfdf;
  margin-right: 10px;
}

.black {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  background: black;
  margin-right: 10px;
}

.multicolor {
  background: url(../images/multicolor.png) no-repeat center center;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}



.t1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 opacity: 0;
}

.t1:hover {
 opacity: 1;
}









/*Real Styles*/

/* Header styles begin */

#topmenu {
  padding: 15px 0 0 0;
}

#topmenu ul li, a {
  color: #898989;
}

#mainmenu {
  float: left;
}

.border {
  border-left: 1px solid #f1f3f3;
  margin-left: 15px;
}

#contact {
  float: right;
}

.earphone {
  position: relative;
  top: 1px;
  display: inline-block;
  background: url("../images/earphone.png") no-repeat center center;
  height: 13px;
  width: 13px;
}

.mail {
  position: relative;
  top: 1px;
  display: inline-block;
  background: url("../images/mail.png") no-repeat center center;
  height: 13px;
  width: 13px;
}

#botmenu {
  border-top: 1px #ecefef solid;
  border-bottom: 3px #d1d7d7 solid;
  padding-top: 15px;
}

#logo {
  float: left;
}

#nav {
  float: left;
  padding: 0 0 0 100px;
}

.navbar-nav {
  margin: 7.5px 0;
}

#nav li a{
  font-family: Lato Black, sans-serif;
  font-size: 14px;
  color: #000000;
  position: relative;
  display: block;
  padding: 0;
}

#nav li a:hover{
  color: #37bbec;
}

#nav li a:hover{
background: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #ffffff;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 15px;
}

.dropdown-menu {
  border: 0 solid rgba(0, 0, 0, .15);
  padding: 25px 5px 15px 15px;
  min-width: 145px;
}

.dropdown-menu li {
 padding-top: 10px;
}

.caret {
  color: #37bbec;
  margin-left: 5px;
  margin-right: 25px;
}

#misc {
  float: right;
}

.cart {
  display: inline-block;
  background: url("../images/cart.png") no-repeat center center;
  height: 36px;
  width: 36px;
}

.user {
  display: inline-block;
  background: url("../images/user.png") no-repeat center center;
  height: 36px;
  width: 36px;
}

.search {
  display: inline-block;
  background: url("../images/search.png") no-repeat center center;
  height: 36px;
  width: 36px;
}

.menu-icon {
 background: black;
  display: block;
  height: 5px;
  width: 35px;
  margin-top: 4px;
  margin-bottom: 6px;
}

/* Header styles end */


/* Content styles begin */
#section {
  background: url("../images/content.png") repeat-x top left #f3f6f6;
}

#section h2 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.categories {
  margin-bottom: 15px;
  box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}

#sidebar h5 {
  font-family: Lato Black;
  line-height: 16px;
}

#sidebar a {
  color: black;
}

#title1, #title2, #title3, #title4 {
  cursor: pointer;
}

#list1, #list2, #list3 {
  display: block;
}

#list4 {
  display: none;
}

.arrow-up {
  display: block;
  background: url(../images/arrow-up.png) no-repeat right center;
  margin-right: 25px;
}

.headline {
  background: #ffffff;
  padding: 9px 0 6px 25px;
  border-bottom: 1px solid #efefef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.last {
  background: #ffffff;
  padding: 9px 0 6px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.last2 {
  background: #fafafa;
  padding: 9px 0 6px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.even {
  background: #fafafa;
  padding: 9px 0 6px 25px;
}

.odd {
  background: #ffffff;
  padding: 9px 0 6px 25px;
}

.margin0 {
  margin-bottom: 0;
}

.box {
  margin-bottom: 30px;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}

.img-place {
  width: 100%;
  background: #dcdcdc;
  position: relative;
  overflow: hidden;
}

.wh {
  width: 100%;
  height: auto;
}

.desc {
  background-color: #ffffff;
  padding: 23px 0 15px 18px;
}

.desc p {
  color: #898989;
  padding-top: 4px;
}

.desc h5 {
  font-family: Lato Black;
  margin: 0;
  padding: 0;
}

/* Carousel styles */

.item {
  padding-top: 70px;
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

#myCarousel p {
  font-size: 18px;
  line-height: 30px;
}

.carousel-indicators {
  position: relative;
  top: -21px;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  text-align: initial;
  list-style: none;
}

.carousel-indicators .active {
  width: 19px;
  height: 19px;
  margin: 0;
  background-color: #37bbec;
}

.carousel-indicators li {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 3px solid #edefef;
  background-color: #ffffff;
  border-radius: 10px;
}

.carouselpadd {
  padding-top: 10px;
  padding-right: 65px;
}

.txxt {
  margin-bottom: 40px;
}

.txxt p {
  color: #4e4e4e;
}

.oldprice {
  font-size: 24px;
  color: #37bbec;
  display: inline-block;
  text-decoration: line-through;
}

.newprice {
  font-size: 50px;
  line-height: 50px;
  color: #282727;
  font-family: 'Lato Light';
  font-weight: normal;
  display: inline-block;
}
